a{
    display: block;
    margin: 50px 100px;
    width: 93px;
    height: 29px;
    background-repeat: no-repeat;
    background-image: url("../其他文件/picture/btn.png");
}

a:hover{
    background-position: -93px 0px;
}

a:active{
    background-position: -186px 0px;
}

/* 
    图片属于网页中外部资源，外部资源都需要浏览器单独发送请求加载。
    浏览器加载外部资源是按需加载的，用则加载，不用就不加载
*/

/* 
    雪碧图的使用步骤
        1.确定使用的图标
        2.测量图标大小
        3.根据测量结果创建一个元素
        4.将雪碧图设置为背景图片
        5.设置偏移量一=以显示正确图片
    雪碧图特点：避免多次访问图片资源，降低访问速度，影响用户体验
*/