.w {
  width: 92.39999769vw;
  margin: 0 auto;
}
html {
  background-color: #eff0f4;
}
html body .header {
  margin-top: 8.26666646vw;
}
html body .header .headfaction {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
}
html body .header .headfaction a .i-menu {
  width: 6.93333316vw;
}
html body .header .headfaction a .i-search {
  width: 5.59999986vw;
}
html body .header .headfaction span {
  font-size: 7.19999982vw;
}
html body .bodyer .bodyerh-wrp {
  margin-top: 5.3333332vw;
}
html body .bodyer .bodyerh-wrp .bodyerh a img {
  width: 100%;
}
html body .bodyer .bodyerb-wrp {
  margin-top: 5.3333332vw;
}
html body .bodyer .bodyerb-wrp .bodyerb {
  height: 32.79999918vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
}
html body .bodyer .bodyerb-wrp .bodyerb a {
  display: flex;
  width: 43.59999891vw;
  height: 13.86666632vw;
  border-radius: 1.3333333vw;
  box-shadow: 0 0 1.06666664vw rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: white;
  font-size: 3.9999999vw;
  flex-flow: nowrap;
  justify-content: center;
  align-items: center;
}
html body .bodyer .bodyerb-wrp .bodyerb a img {
  margin-right: 3.9999999vw;
}
html body .bodyer .bodyerb-wrp .bodyerb .a1 {
  background-color: #f97053;
}
html body .bodyer .bodyerb-wrp .bodyerb .a1 img {
  width: 5.99999985vw;
}
html body .bodyer .bodyerb-wrp .bodyerb .a2 {
  background-color: #ca63fe;
}
html body .bodyer .bodyerb-wrp .bodyerb .a2 img {
  width: 5.99999985vw;
}
html body .bodyer .bodyerb-wrp .bodyerb .a3 {
  background-color: #ff3971;
}
html body .bodyer .bodyerb-wrp .bodyerb .a3 img {
  width: 5.3333332vw;
}
html body .bodyer .bodyerb-wrp .bodyerb .a4 {
  background-color: #1d92ff;
}
html body .bodyer .bodyerb-wrp .bodyerb .a4 img {
  width: 5.3333332vw;
}
html body .bodyer .bodyerf-wrp .bodyerf .courselist .chead {
  margin-top: 5.3333332vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
html body .bodyer .bodyerf-wrp .bodyerf .courselist .chead .coursetitle {
  display: flex;
}
html body .bodyer .bodyerf-wrp .bodyerf .courselist .chead .coursetitle .blueline {
  width: 0.39999999vw;
  height: 5.06666654vw;
  background-color: #3a84ff;
  margin-right: 2.6666666vw;
}
html body .bodyer .bodyerf-wrp .bodyerf .courselist .chead .coursetitle span {
  font-size: 5.06666654vw;
}
html body .bodyer .bodyerf-wrp .bodyerf .courselist .chead .more span {
  font-size: 5.06666654vw;
  color: #7d7e7e;
}
html body .bodyer .bodyerf-wrp .bodyerf .courselist .course {
  margin-top: 5.3333332vw;
  display: flex;
  width: 96.19999759vw;
  overflow: auto;
}
html body .bodyer .bodyerf-wrp .bodyerf .courselist .course li {
  width: 42.93333226vw;
  height: 43.46666558vw;
  margin-right: 3.46666658vw;
  background-color: white;
  border-radius: 2.13333328vw;
  box-shadow: 0 0 1.3333333vw rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: column;
  flex: none;
  align-items: center;
}
html body .bodyer .bodyerf-wrp .bodyerf .courselist .course li .imga {
  margin-top: 3.33333325vw;
}
html body .bodyer .bodyerf-wrp .bodyerf .courselist .course li .imga img {
  width: 37.73333239vw;
}
html body .bodyer .bodyerf-wrp .bodyerf .courselist .course li .spana {
  margin-top: 3.33333325vw;
  text-decoration: none;
  color: black;
  font-size: 3.86666657vw;
}
html body .bodyer .bodyerf-wrp .bodyerf .courselist .course li .teachera {
  margin-top: 2.93333326vw;
  text-decoration: none;
  color: #b9b8b8;
  align-self: start;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
html body .bodyer .bodyerf-wrp .bodyerf .courselist .course li .teachera img {
  width: 5.86666652vw;
  margin: 0 2.13333328vw 0 3.73333324vw;
}
html body .bodyer .bodyerf-wrp .bodyerf .courselist .course li .teachera span {
  font-size: 3.33333325vw;
}
/*# sourceMappingURL=./I-learn.css.map */